[project]
	description = "Python implementation of Neural Network class, fully vectorized and makes use on numpy's matrix multiplication for  better performance."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/karthik-hegde
[access "refs/for/refs/*"]
	read = group user/karthik-hegde
	push = group user/karthik-hegde
	label-Code-Review = -2..+2 group user/karthik-hegde
	label-Verified = -1..+1 group user/karthik-hegde
	rebase = group user/karthik-hegde
	removeReviewer = group user/karthik-hegde
	submit = group user/karthik-hegde
[access "refs/heads/*"]
	read = group user/karthik-hegde
	create = group user/karthik-hegde
	push = +force group user/karthik-hegde
	pushMerge = group user/karthik-hegde
[access "refs/tags/*"]
	push = +force group user/karthik-hegde
	pushTag = group user/karthik-hegde
	pushSignedTag = group user/karthik-hegde
